@model NotesKeeper.Models.Item

<h2>Note Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UPN)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.TenantId)
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { upn=Model.UPN, id = Model.Id }) |
    @Html.ActionLink("Back to Notes", "Index")
</p>
